{% extends 'base.html' %}
{% block content %}
{% load crispy_forms_tags %}

<body class="register">
    <section class="register-form">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            <div class="container-fluid py-5 px-5">
                <h1 class="register-title">Sign Up and start bingeing</h1>
                <input type="username" id="id_username" name="username" class="register-email" placeholder="Enter your Username." autocomplete="username">
                <input type="email" id="id_email" name="email" class="register-email" placeholder="Enter your email." autocomplete="email">
                <input type="password" id="id_password1" name="password1" class="register-password" placeholder="Enter your password.">
                <input type="password" id="id_password2" name="password2" class="register-password" placeholder="Enter password again.">
                <input type="submit" value="Sign Up" name="Signup" class="btn-register">
                <p>Already on Bingeit? <a href="/accounts/login">Sign In.</a></p>
            </div>
        </form>
    </section>
</body>
{% endblock %}





