{% extends 'base.html' %}
{% block content %}
<section class="searchform">
  <form>
    <div class="searchbar">
      <input id="search" class="searchbox" placeholder="Search shows,movies,actors & directors" value="{{ request.GET.si }}" type="text" name="si" />
      <button type="submit" value="Search" class="searchbtn"><i class="fa fa-search"></i></button>
    </div>
  </form>
</section>
<div class="show-list">
  <div class="container-fluid">
    <div class="row">
      {% for n1 in show_list %}
      <div class="col-lg-3 col-6 mb-3 mb-lg-0">
        <div class="hover hover-2 text-white rounded"><img src="/media/{{n1.poster}}" alt="{{n1.title}}">
          <div class="hover-overlay"></div>
          <div class="hover-2-content px-5 py-4">
            <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">
              <a href="/bingeit/show/{{n1.id}}">
                <img src="/static/images/play.png" style="height: 50px; width: 50px; position: relative;">
              </a>
            </h3>
            {% if request.user_agent.is_mobile %}
            <div class="hover-2-description mb-0"><h3 class="hover-2-title font-weight-bold mb-0" style="font-size: 14px;"> <span class="font-weight-light"></span>{{n1.title}}</h3></div>
            {% else %}
            <div class="hover-2-description mb-0"><h3 class="hover-2-title font-weight-bold mb-0"> <span class="font-weight-light"></span>{{n1.title}}</h3></div>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>



<style>
  .searchform{
    padding-top: 200px;
  }
  .searchbar{
  position: absolute;
  text-align: center;
  width: 100%;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

.searchbox{
  transition: border .2s linear;
  font-size: 12px;
  width: 50%;
  background: #f5f8fa;
  color: #000;
  padding: 8px 32px 8px 12px;
  height: 22px;
  border: 1px solid #e6ecf0;
  border-radius: 50px;
  outline: none;
}

.searchbox:focus{
  transition: border .2s linear;
  border: 2px solid orange;
}

.searchbtn{
  position: absolute;
  font-size: 20px;
  color: #66757f;
  background-color: transparent;
  border:none;
  right: 26%;
  top: 0px;
  outline: none;
  padding: 4px;
}

h1, .twitter{
  color: #3bdddd;
  font-family: sans-serif;
  font-size: 50px;
}
</style>

{% endblock %}